@import "../node_modules/fullcalendar/dist/fullcalendar.css";
@import "../css/foundation.css";
@import "../css/jquery.qtip.css"
/** ----- Begin Header ----- **/
header nav {
    background-color: #009BDF;
}

header .header-content {
    padding: 2em;
}

header .logo-container {
    float: left;
    width: 40%;
}

header nav li.menu-text {
    color: white;
    padding: 0;
}

header nav li.menu-text a {
    color: white;
    padding: 1.5rem 1.8rem;
    border-top: 6px solid #009BDF;
    border-bottom: 6px solid #009BDF;
}

header nav li.menu-text:hover a {
    border-bottom: 6px solid #006e99;
}
/** ----- End Header ----- **/


/** ----- Begin Calendar ----- **/

.calendar-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

/** ----- End Calendar ----- **/


/** ----- Begin Footer ----- **/

/* -- Begin sticky footer -- */
html, body, #app, #app > div {
    height: 100%;
}

#app > div {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}
/* -- End sticky footer -- */

footer {
    background-color: #e1e1e1;
}

footer .footer-message {
    margin: 2rem;
    text-align:center;
}
/** ----- End Footer ----- **/
