.content-container {
    max-width: 1000px;
    margin: 0 auto;
}

.event-info-container {
    margin: 1em 0;
}

.content-header {
    margin: 1em 0;
}

.wide-text-box {
    width: 100%;
    max-width: 600px;
    display: block;
}

input#location,
.single-line-text-box,
.multi-line-text-box {
    margin: 0.7em 0;
}

input#location,
.single-line-text-box {
    display: inline-block;
}

.multi-line-text-box {
    height: 100px;
}

.radio-collection-container {
    display: block;
    overflow: auto;
}

.radio-collection-title {
    font-size: large;
    display: block;
}

.radio-option {
    display: inline-block;
    overflow: auto;
    float: left;
    margin: 0.2em 0.5em;
}

.form-submit-button-container {
    width: 100%;
    display: block;
    text-align: right;
}