@import "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css";
/*@import "../../node_modules/codemirror/lib/codemirror.css";*/

/** ----- Begin Global ----- **/

html,
body,
#app {
    height: 100%;
}

input::placeholder,
textarea::placeholder {
    color: #888888;
}

.button {
    background-color: #009BDF;
}

.align-right {
    float: right;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/** ----- End Global ----- **/

.app-container {
    height: 100%;
    position: relative;
}

/** ----- Sidebar ----- **/

.app-sidebar {
    height: 100%;
    width: 33.3%;
    transition: left 0.3s;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
    border-right: 1px solid #dedede;
}

.sidebar-container {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.app-sidebar.collapsed {
    position: absolute;
    left: -33.3%;
    top: 0;
}

.scene-container {
    position: absolute;
    height: 100%;
    left: 33.3%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    transition: left 0.3s;
}

.sidebar-toggle-button {
    position: absolute;
    left: 100%;
    z-index: 1000;
}

.scene-overlay {
    transition: background-color 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    .app-sidebar {
        left: -33.3%;
        position: absolute;
        top: 0;
        border-right: none;
        width: 85%;
    }

    .app-sidebar.collapsed {
        left: -85%;
    }

    .app-sidebar.expanded .sidebar-toggle-button {
        display: none;
    }

    .app-sidebar.expanded {
        left: 0;
    }

    .scene-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }

    .app-sidebar.expanded + .scene-container .scene-overlay {
        background-color: rgba(0,0,0,0.5);
        pointer-events: all;
    }
}

@media screen and (min-width: 701px) {
    .app-sidebar.collapsed + .scene-container {
        left: 0;
    }
}

@media (min-width: 60rem) {
    .app-sidebar {
        width: 25rem;
    }

    .app-sidebar.collapsed {
        left: -25rem;
    }

    .scene-container {
        left: 25rem;
    }
}

/** --- Begin Sidebar Header --- **/

.header-content {
    padding: 1.2em 0.5em 1.2em 0;
    text-align: center;
    background-color: #009BDF;
    flex-basis: content;
    width: 100%
}

.olin-logo {
    width: 100%;
    fill: white;
    padding: 0;
}

.olin-logo:hover {
    fill: #e1e1e1;
}

.olin-logo .beta-box {
    fill: #FFC20E;
}

.olin-logo .beta-text {
    fill: #5f5f5f;
}

header nav li.menu-text {
    color: white;
    padding: 0;
}

header nav li.menu-text a {
    color: white;
    padding: 1rem 1.8rem;
    /*border-top: 6px solid #e9e9e9;*/
    /*border-bottom: 6px solid #e9e9e9;*/
}

header nav li.menu-text:hover a {
    border-bottom: 6px solid #dedede;
}
/** --- End Sidebar Header --- **/

.sidebar-item-content {
    background-color: white;
    padding: 0.6em 1em 1em;
    overflow: auto;
}

.sidebar-item-content p {
    font-size: 0.8em;
    line-height: 1.3em;
}

.sidebar-item-content::-webkit-scrollbar,
.scene-container::-webkit-scrollbar {
    display: none;
}

.sidebar-item-header {
    display: flex;
    width: 100%;
    padding: 0.5em 1rem;
    font-size: 120%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 4px solid #e2dddd;
}

.sidebar-title-right {
    float: right;
    font-size: 80%;
}

.sidebar-item-subsection-header {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 0.5em;
    font-size: 90%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-content {
    flex-grow: 1;
}

.sidebar-title,
.sidebar-item {
    border-bottom: 2px solid #ddd;
}

.link-pane {
    display: flex;
    justify-content: space-around;
}

.link-pane button {
    margin: 1rem;
}

/** --- Begin ICS Feed Generation Pane --- **/

.ics-feed-instructions-icon {
    height: 3em;
    fill: #aaaaaa;
}

.ics-copy-to-clipboard {
    display: block;
    margin-top: 0.5em;
}

.ics-instructions {
    display: block;
    font-size: 90%;
    color: gray;
}

/** --- End ICS Feed Generation Pane --- **/

/** --- Begin Sidebar Footer --- **/

footer {
    flex-basis: content;
}

.footer-message {
    margin: 1em;
    text-align:center;
    color: #9c9c9c;
    font-size: small;
}

.footer-message a {
    color: #9c9c9c;
}

.footer-message a:hover {
    color: #1779ba;
}

.footer-message p {
    margin-bottom: 0.2em;
}

@media screen and (max-width:400px) {

    .app-sidebar {
        font-size: 80%;
    }

    .sidebar-container button {
        font-size: 1em;
    }

    .link-pane button {
        margin: 0.7em;
    }

    .footer-message {
        font-size: x-small;
    }
}

/** --- End Sidebar Footer --- **/


/** ----- End Sidebar ----- **/

/** ----- Begin Labels ----- **/

.label {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    color: #fefefe;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

span.label {
    margin: 1rem 0.1rem 0;
}

.button.label {
    margin-bottom: 0;
    margin-top: 1rem;
}

.button.label:hover:not(.no-hover) {
    background-color: #14679e;
    color: #fefefe;
    cursor: pointer;
 }

.label-selector-list {
    margin-top: -0.6rem;
}

/** ----- End Labels ----- **/


/** ----- Begin Calendar ----- **/

.calendar-header {
    text-align: center;
    overflow: auto;
    background-color: white;
    border-bottom: 4px solid #dcd9d9;
}

.calendar-header .title {
    font-size: 2em;
    margin: 0.36em;
    display: inline-block;
}

.calendar-header-view-selector {
    display: inline-block;
}

.calendar-header-view-option {
    display: inline-block;
    padding: 1.5em 1em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.calendar-header-view-option.current {
    background-color: #eee;
}

.calendar-header-view-option:hover {
    background-color: #e9e9e9;
}

.calendar-header-options {
    float: right;
    display: inline-block;
}

.calendar-header-options > * {
    display: inline-block;
}

.calendar-header-pagination button {
    padding: 0.2em;
    margin: 0.7em 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.calendar-container > .menu-icon-button {
    position: absolute;
    margin: 1.4em 0.9em;
    z-index: 20;
    cursor: pointer;
}

.calendar-container > .menu-icon-button > .menu-icon {
    width: 3em;
    height: 3em;
    fill: gray;
}

#calendar {
    padding: 1rem 0 0;
}

.fc-toolbar.fc-header-toolbar {
    padding-left: 5em;
}

.fc-list-item{
    color: white
}

.fc-list-item:hover,
.fc-list-item:focus,
.fc-list-item-title:hover a{
    color: black
}

.calendar-container {
    position: relative;
    height: 100%;
}

.label-selector-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.label:not(.selected) {
    background-color: transparent;
    color: black;
    border: 1px solid darkgray;
}

.add-button {
    position: absolute;
    right: 2em;
    bottom: 2em;
}

.material-button.circle-button {
    width: 3em;
}

.material-button.blue .add-plus {
    fill: white;
}

/** ----- End Calendar ----- **/


/** ----- Begin Event Add/Edit ----- **/

.content-container {
    padding: 1em;
}

.m-input-moment .btn-save,
.m-input-moment .options button.is-active,
.m-calendar .toolbar button,
.content-container button:not(.im-btn .label) {
    background-color: #009BDF;
}

.page-title > .menu-icon-button {
  position: relative;
  z-index: 20;
  cursor: pointer;
  margin-right: .5em;
}

.page-title > .menu-icon-button > .menu-icon {
    width: 1em;
    height: 1em;
    fill: gray;
}

.markdown-editor-container {
    overflow: auto;
    margin: 1em 0;
}

.markdown-editor-editor-preview-container {
    display: block;
    overflow: auto;
}

.markdown-editor {
    min-height: 15em;
}

.markdown-preview {
    padding-left: 2em;
}

textarea.markdown-editor {
    resize: vertical;
}

.markdown-guide {
    overflow: auto;
    /*background-color: #efefef;*/
    width: 100%;
}

.markdown-guide-title {
    margin: 0.8em 0.8em 0;
    display: block;
    color: gray;
    font-family: 'Courier New', Arial, sans-serif;
}

.markdown-guide-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*justify-content: space-between;*/
}

.markdown-guide-section-container h1 {
    font-size: xx-large;
}

.markdown-guide-section-container h2 {
    font-size: x-large;
}

.markdown-guide-section {
    /*padding: 0.5em 1em;*/
    /*max-width: 30%;*/
}

.markdown-guide-section-title {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

/** --- Begin Date/Time Selector --- **/

.date-time-container {
    display: inline-block;
    margin-right: 1em;
}

.picker-popup-container {
    position: relative;
}

.m-input-moment {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.m-calendar .toolbar {
    margin-bottom: 0;
    padding: 0.5em;
}

.m-input-moment .tabs {
    margin-bottom: 1.8em;
}

.m-time .showtime {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** --- End Date/Time Selector --- **/

.is-invalid-input:focus {
    border-color: #cc4b37;
}

.location-parsed {
    padding: 0 0.5em;
    background-color: #dedede;
    margin: 0 0.3em;
    line-height: 2.4em;
}

.location-input-container > input {
    margin: 0 0.5em 0 0;
}

.location-input-container {
    display: flex;
    flex-direction: row;
}

.location-input-container > img {
    margin-left: 0.5em;
    padding: 0.2rem;
    height: 2.4375rem;
}

.short-text-box {
    max-width: 10em;
    display: inline-block;
    margin: 0 0.5rem 1rem;

}
.short-text-box:first-child { margin-left: 0; }
.short-text-box:last-child { margin-right: 0; }

.super-short-text-box {
    max-width: 4em;
    display: inline-block;
    margin: 0 0.5rem 1rem;

}
.super-short-text-box:first-child { margin-left: 0; }
.super-short-text-box:last-child { margin-right: 0; }


.medium-text-box {
    max-width: 30em;
}

.multi-line-text-box {
    min-height: 15em;
}

.radio-collection-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-collection-title {
    padding-right: 1em;
    font-weight: bold;
}

.radio-option {
    display: flex;
    align-items: center;
}

.radio-option label {
    font-size: 1em;
}

.radio-option input[type=radio] {
    margin: 0;
}

.radio-collection-options-container {
    display: flex;
}

.form-submit-button-container {
    text-align: right;
}

.form-submit-button-container button:not(:last-child) {
    margin-right: 1em;
}

.content-container .button.delete,
.button.delete {
    background-color: #ff3f3f;
}

.content-container .button.cancel,
.button.cancel {
    background-color: #9f9f9f;
}

.recurrence-container{
    margin-bottom: 1em;
}

/** ----- End Event Add/Edit ----- **/

/** ----- Begin View ----- **/

.event-date-location-container{
    margin-bottom: 1em;
}

/** ----- End View ----- **/
