@import "../../node_modules/fullcalendar/dist/fullcalendar.css";
@import "../css/jquery.qtip.css";
@import "../css/foundation.css";
@import "../../node_modules/codemirror/lib/codemirror.css";

/** ----- Begin Global ----- **/

input::placeholder,
textarea::placeholder {
    color: #888888;
}

/** ----- End Global ----- **/


/** ----- Begin Header ----- **/
header nav {
    background-color: #009BDF;
    border-bottom: 3px #cbcbcb solid;
}

header .header-content {
    padding: 2em;
}

header .logo-container {
    float: left;
    width: 40%;
}

header nav li.menu-text {
    color: white;
    padding: 0;
}

header nav li.menu-text a {
    color: white;
    padding: 1rem 1.8rem;
    border-top: 6px solid #009BDF;
    border-bottom: 6px solid #009BDF;
}

header nav li.menu-text:hover a {
    border-bottom: 6px solid #006e99;
}
/** ----- End Header ----- **/


/** ----- Begin Calendar ----- **/

.calendar-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.filter-pane {
    margin: 2em 0;
}

.filter-pane-labels-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-pane-title {
    font-size: 150%;
    margin-bottom: 0.7em;
}

.label:not(.selected) {
    background-color: darkgray;
}

.button.label:hover {
    cursor: pointer;
}

/** ----- End Calendar ----- **/


/** ----- Begin Event Add/Edit ----- **/

.content-container {
    padding: 1em;
}

.m-input-moment .btn-save,
.m-input-moment .options button.is-active,
.m-calendar .toolbar button,
.content-container button:not(.im-btn) {
    background-color: #009BDF;
}

.markdown-editor-container {
    overflow: auto;
    margin-top: 1em;
}

.markdown-editor {
    min-height: 15em;
}

.markdown-preview {
    padding-left: 2em;
}

textarea.markdown-editor {
    resize: vertical;
}

/** --- Begin Date/Time Selector --- **/

.date-time-container {
    display: inline-block;
    margin-right: 1em;
}

.picker-popup-container {
    position: relative;
}

.m-input-moment {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.m-calendar .toolbar {
    margin-bottom: 0;
    padding: 0.5em;
}

.m-input-moment .tabs {
    margin-bottom: 1.8em;
}

.m-time .showtime {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** --- End Date/Time Selector --- **/

.is-invalid-input:focus {
    border-color: #cc4b37;
}

.location-parsed {
    padding: 0 0.5em;
    background-color: #dedede;
    margin: 0.5em;
}

.location-input-container {
    display: flex;
    flex-direction: row;
}

.location-input-container > img {
    margin-left: 0.5em;
    padding: 0.2rem;
    height: 2.4375rem;
}

.short-text-box {
    max-width: 10em;
    display: inline-block;
    margin: 0 0.5rem 1rem;

}
.short-text-box:first-child { margin-left: 0; }
.short-text-box:last-child { margin-right: 0; }

.super-short-text-box {
    max-width: 4em;
    display: inline-block;
    margin: 0 0.5rem 1rem;

}
.super-short-text-box:first-child { margin-left: 0; }
.super-short-text-box:last-child { margin-right: 0; }


.medium-text-box {
    max-width: 30em;
}

.multi-line-text-box {
    min-height: 15em;
}

.radio-collection-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-collection-title {
    padding-right: 1em;
    font-weight: bold;
}

.radio-option {
    display: flex;
    align-items: center;
}

.radio-option label {
    font-size: 1em;
}

.radio-option input[type=radio] {
    margin: 0;
}

.radio-collection-options-container {
    display: flex;
}

.form-submit-button-container {
    text-align: right;
}

.form-submit-button-container button:not(:last-child) {
    margin-right: 1em;
}

.content-container .button.delete,
.button.delete {
    background-color: #ff3f3f;
}

.content-container .button.cancel,
.button.cancel {
    background-color: #9f9f9f;
}

.recurrence-container{
    margin-bottom: 1em;
}

/** ----- End Event Add/Edit ----- **/

/** ----- Begin View ----- **/

.event-date-location-container{
  margin-bottom: 1em;
}

/** ----- End View ----- **/

/** ----- Begin Footer ----- **/

/* -- Begin sticky footer -- */
html, body, #app, #app > div {
    height: 100%;
}

#app > div {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}
/* -- End sticky footer -- */

footer {
    background-color: #e1e1e1;
}

footer .footer-message {
    margin: 2rem;
    text-align:center;
}
/** ----- End Footer ----- **/
